@media (max-width: 991px) {
  .card-title {
    font-size: 3rem !important;
  }

  .card-text {
    font-size: 1.7rem !important;
  }

  .card-footer {
    font-size: 2.5rem !important;
  }
  
  .button-roojack-smaller {
    font-size: 2.5rem;
  }
  
  .button-roojack-smaller .roojack-button {
      border-width: 5px;
  }
}

#smaller-screen {
  display: none;
}

.container {
  background-color: rgba(255, 214, 170, 1);;
  min-height: 100%;
  padding: 0px !important;
  margin: 0px !important;
  max-width: 100% !important;
  
  font-family: 'Press Start 2P', cursive;
}

.row {
  margin: 0px !important;
  width: 100%;
}

.web-smaller {
  min-height: 100%;
}

.button-roojack-smaller {
  text-align: center;
}

.button-roojack-smaller .roojack-button {
    margin: auto;
}

.roojack-small {
  background-color: rgba(255, 214, 170, 1);
  height: 100%;
  background-image: url("images/screenshot.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  padding-bottom: 20px;
}

.arduboy-small {
  background-color: black;
  
  color: white;
}

.action-detail-smaller {
  -webkit-transition: color 0.5s; /* Safari */
  transition: color 0.5s;
}

.action-detail-smaller:hover {
  color: #898989;
}
